[submodule "libs/PacketListenerAPI/source"]
	path = libs/PacketListenerAPI/source
	url = https://github.com/InventivetalentDev/PacketListenerAPI.git
[submodule "libs/VaultAPI/source"]
	path = libs/VaultAPI/source
	url = https://github.com/MilkBowl/VaultAPI.git
[submodule "libs/PlaceholderAPI/source"]
	path = libs/PlaceholderAPI/source
	url = https://github.com/PlaceholderAPI/PlaceholderAPI.git
[submodule "bukkit-source"]
	path = bukkit-source
	url = https://hub.spigotmc.org/stash/scm/spigot/bukkit.git
